<nav th:fragment="adm-header" class="navbar navbar-expand-lg bg-success shadow-sm fixed-top text-light">
  <div class="container-fluid ">
    <a class="image-thumbnail text-white fst-italic" style="text-decoration: none;" aria-current="page" href="/backoffice/home">
      <img src="/img/icons/logo.svg" style="width: 40px;" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/backoffice/home" class="nav-link d-flex" th:classappend="${activePage == 'home' ? 'active' : 'text-white'}" aria-current="page">

          Início
        </a>
        <a th:if="${usuarioAutenticado?.role != 'Estoquista'}" href="/backoffice/usuarios" class="nav-link d-flex" th:classappend="${activePage == 'usuario' ? 'active' : 'text-white'}">

          Usuarios
        </a>
        <a href="/backoffice/produtos" class="nav-link d-flex" th:classappend="${activePage == 'produto' ? 'active' : 'text-white'}">

          Produtos
        </a>
        <a href="/backoffice/pedidos" class="nav-link d-flex" th:classappend="${activePage == 'pedido' ? 'active' : 'text-white'}">

          Pedidos
        </a>
      </div>
    </div>
    <div class="dropdown me-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
         data-bs-toggle="dropdown" aria-expanded="false">
        <strong th:text="${usuarioAutenticado?.fullname}"></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" th:href="@{/backoffice/usuarios/{id}(id=${usuarioAutenticado?.id})}">Perfil</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
      </ul>
    </div>
      <a class="btn btn-danger" aria-current="page" href="/logout">Sair</a>
  </div>
</nav>