<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yotra</title>
    <link rel="icon" type="image/x-icon" href="/img/icons/logo.svg">
    <th:insert th:insert="fragments/bootstrap.html :: bootstrap"></th:insert>
</head>

<body class="bg-success-subtle">
    <div th:replace="fragments/store/header.html :: loja-header"></div>
    <main class="bg-success-subtle" style="margin-top: 100px;">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

            h1 {
                font-family: 'Monaco', cursive;
                font-weight: 700;
                font-size: 2.5rem;
            }

            .card-img-top {
                height: 200px;
                object-fit: cover;
            }
        </style>
            <img src="/img/icons/horses.png" class="img-fluid" style="width: 100%; max-height: 200px; object-fit: cover; margin-top: -30px">

        <div class="container bg-success-subtle" style="height: 100vh; margin-top:1rem">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 mb-4" th:each="produto : ${produtoPage}">
                    <th:block th:if="${produto.imagens.size() > 0}">
                        <div class="card text-center shadow mb-5 bg-body-tertiary rounded">

                            <th:block th:each="imagem : ${produto.imagens}">
                                <img th:if="${imagem.isPrincipal}" th:src="${'/img/produtos/' + imagem.nomeArquivo}"
                                    class="card-img-top" alt="Imagem do Produto" style="height: 200px">
                            </th:block>

                            <div class="card-body">
                                <h5 class="card-title" th:text="${produto.name}"></h5>
                                <h6 class="card-text" th:text="${'R$ ' + produto.price}"></h6>
                                <!--
                                <p class="mb-3">
                                    <span th:each="i : ${#numbers.sequence(1, produto.rating)}">
                                        <img src="/img/star.svg" alt="Estrela" width="20px">
                                    </span>
                                    <span th:if="${produto.rating % 1 != 0}">
                                        <img src="/img/half-star.png" alt="Meia estrela" width="20px">
                                    </span>
                                </p>-->
                                <a th:href="@{/produto(id=${produto.getId})}"
                                    class="btn btn-success">Detalhe</a>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

    </main>
    </footer>
    
</body>

</html>