<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icons/logo.svg">
    <th:insert th:insert="fragments/bootstrap.html :: bootstrap"></th:insert>

    <title>Yotra - Detalhe do Produto</title>
    <style>
        #carouselControls img {
        }
    </style>
</head>

<body class="bg-success-subtle">

    <div th:replace="fragments/store/header.html :: loja-header"></div>

    <div class="container py-5" style="margin-top: 80px">
        <div class="row">
            <!-- Imagens do produto -->
            <div class="col-md-2 align-self-center"> <!-- Tamanho ajustado para menor -->
                <div class="mt-3">
                    <div id="thumbnailContainer" class="d-flex flex-column">
                        <th:block th:each="imagem, iterStat : ${produto.imagens}">
                            <img th:src="${'/img/produtos/' + imagem.nomeArquivo}" alt="Slide"
                                data-bs-target="#carouselControls" th:data-bs-slide-to="${iterStat.index}"
                                th:class="${imagem.principal} ? 'active' : ''"
                                style="width: 100px; height: auto; margin-right: 10px; margin-bottom: 10px; border: 0.5px solid rgb(220, 220, 220); border-radius: 2px; ">
                        </th:block>
                    </div>
                </div>
            </div>
        
            <!-- Carousel Imagens -->
            <div class="col-md-4 justify-content-center p-5" style="width: 350px; height: 350px; position: relative;"> <!-- Tamanho ajustado para maior -->
                <div id="carouselControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner text-center">
                        <th:block th:each="imagem, iterStat : ${produto.imagens}">
                            <div th:class="${imagem.principal} ? 'carousel-item active' : 'carousel-item'">
                                <img th:src="${'/img/produtos/' + imagem.nomeArquivo}" class="d-block w-100 h-100 object-fit-cover"
                                    alt="Imagem do Produto">
                            </div>
                        </th:block>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        
            <!-- Detalhes do produto -->
            <div class="col-md-6 align-self-center">
                <div class="shadow-sm border rounded bg-light p-4">
                    <h2 class="mb-4" th:text="${produto.name}"></h2>

                    <div class="d-flex">
                        <p class="fs-4 fw-bold mb-3" th:text="'R$ ' + ${produto.price}"></p>
                    </div>

                    <p class="mb-3">
                        <span th:each="i : ${#numbers.sequence(1, produto.rating)}">
                            <img src="/img/star.svg" alt="Estrela" width="20px">
                        </span>
                        <span th:if="${produto.rating % 1 != 0}">
                            <img src="/img/half-star.png" alt="Meia estrela" width="20px">
                        </span>
                    </p>
        
                    <div class="input-group" style="width: 150px;">
                        <label for="quantidade" class="input-group-text">Qtd</label>
                        <select class="form-select" id="quantidade" name="quantidade" required>
                            <option th:each="i : ${#numbers.sequence(1, produto.stockQuantity)}" th:value="${i}"
                                th:text="${i}"></option>
                        </select>
                    </div>

                    <div class="mt-3">
                        <div class="rounded">
                            <h5 class="mb-3">Descrição</h5>
                            <p class="fs-6" th:text="${produto.description}"></p>
                        </div>
                    </div>
        
                    <div class="text-center mt-3">
                        <form id="addToCartForm" method="POST" action="/carrinho">
                            <input type="hidden" name="produtoId" th:value="${produto.id}" />
                            <input type="hidden" name="quantidade" id="quantidadeHidden" /> <!-- Campo oculto para armazenar a quantidade -->
                            <button type="button" onclick="adicionarAoCarrinho()" class="btn btn-success">Comprar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Descrição do produto
        <div class="mt-3">
            <div class="rounded">
                <h3 class="mb-3">Descrição do produto:</h3>
                <p class="fs-5" th:text="${produto.description}"></p>
            </div>
        </div>
        -->
    </div>

</body>


<script>
    $('#carouselExampleControls').carousel({
        interval: false
    });

    function adicionarAoCarrinho() {
        var quantidadeSelecionada = document.getElementById("quantidade").value;
        document.getElementById("quantidadeHidden").value = quantidadeSelecionada;
        document.getElementById("addToCartForm").submit();
    }
</script>


</html>