<style>

  .bg-success {
  background-color: #218838; /* Tom mais escuro de verde */
 }
</style>

<nav th:fragment="loja-header" class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top p-0">
  <div class="container-fluid d-flex justify-content-between align-items-center bg-success px-5">

    <!-- Logo à esquerda -->
    <div>
      <a class="image-thumbnail fs-3 text-white fst-italic" aria-current="page" href="/" style="text-decoration: none;">
        <img src="/img/icons/logo.svg" style="width: 40px; height:40px; font-family: 'Monaco', cursive;" alt="Logo Yotra">   Yotra
      </a>
    </div>

    <!-- Título no meio -->
    <div class="col-md-5 text-start my-3">
      <form>
        <div class="input-group">

          <input class="form-control bg-white" type="text" id="fullname" name="fullname" placeholder="Buscar item">
          <button class="btn btn-dark" type="button"><img src="/img/lupa.svg" width="25px" alt="Buscar"></button>
        </div>
      </form>
    </div>


    <span th:if="${session.client != null}" class="d-flex">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Bem vindo, <span th:text="${session.client.fullName}"></span>
        </button>

        <ul class="dropdown-menu bg-success-subtle" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" th:href="'/cadastro/' + ${session.client.id}">Meu Perfil</a></li>
          <li><a class="dropdown-item" href="/pedidos">Meus Pedidos</a></li>
        </ul>
      </div>

      <form th:action="@{/sair}" method="post">
        <button class="btn btn-danger mx-2" type="submit">Sair</button>
      </form>
    </span>

    <span th:unless="${session.client != null}">
      <div id="login-section" class="d-flex">

        <a href="/login" class="btn btn-success" id="login-link" style="filter: brightness(75%);">Login</a>

        <!--
        <label for="" class="text-success fs-5">---</label>
        <a href="/cadastro" class="btn btn-success" id="cadastrar-link" style="filter: brightness(75%);">Cadastrar-se</a>
        -->

      </div>
    </span>

    <a href="/carrinho" class="position-relative">
      <img src="/img/cart.svg" alt="Carrinho" style="height: 2rem;">
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark"
          th:text="${session.carrinho != null && session.carrinho.itens != null ? session.carrinho.itens.size() : ''}">
          <span class="visually-hidden">Itens no carrinho</span>
      </span>
  </a>
  

  </div>

</nav>