<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony - Pedidos</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.svg">
    <th:insert th:insert="fragments/bootstrap.html :: bootstrap"></th:insert>
</head>

<body style="background-color: #F9F6F1;">

    <div th:replace="fragments/store/header.html :: loja-header"></div>

    <h1>Meus pedidos</h1>

    <div class="container bg-white px-5 shadow">
        <h3 class="text-center mt-5  py-3">Meus pedidos:</h3>

        <div class="container" th:each="pedido : ${session.pedidos}">
            <div class="row mt-3">
                <div class="card mb-3 text-center">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h5 th:text="'Nº pedido: ' + ${pedido.serial}"></h5>
                            <h5 th:text="'Data: ' + ${pedido.dataPedido}"></h5>
                        </div>

                    </div>
                    <div class="card-body d-flex align-items-center justify-content-between">

                        <label for="" class="h4 text-secondary" th:text="'R$ ' + ${pedido.total}"></label>
                        <h5 class="card-text"
                            th:classappend="${pedido.status == 'Entregue' ? 'text-success' : (pedido.status == 'Pagamento rejeitado' ? 'text-danger' : 'text-warning')}"
                            th:text="${pedido.status}"></h5>

                        <a th:href="'/pedidos/' + ${pedido.id}" class="btn btn-primary">Ver Pedido</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>