<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony - backoffice</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.svg">
    <th:insert th:insert="fragments/bootstrap.html :: bootstrap"></th:insert>
</head>

<body>

    <div th:insert="fragments/header.html :: adm-header"></div>

    <div class="container-fluid" style="margin-top: 70px;">
        <div class="row" style="gap: 10px;">
            <div th:replace="fragments/navside.html :: adm-nav('home')"></div>

            <main class="col-md shadow-lg text-center">

                <img class="img-fluid" style="max-width:50%;" src="/img/home.png" alt="Banner Image">

            </main>

        </div>




    </div>
    <div th:replace="fragments/fooster.html :: adm-fooster"></div>
</body>

</html>